<div class="container-fluid" id="content-accordion">
    <div class="row">
        <div class="accordion-group col-xs-12 col-sm-4">
            <div class="accordion-heading">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseOne">
                    <h1>Button 1</h1></button>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
        <div class="accordion-group col-xs-12 col-sm-4">
            <div class="accordion-heading">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseTwo">
                    <h1>Button 2</h1></button>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
        <div class="accordion-group col-xs-12 col-sm-4">
            <div class="accordion-heading">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapse3">
                    <h1>Button 3</h1></button>
            </div>
            <div id="collapse3" class="accordion-body collapse">
                <div class="accordion-inner">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
    </div>
</div>